*{
    padding: 0;
    margin: 0;
}
header{
    background-color:goldenrod;
    border-radius: 10px;
    cursor: pointer;
}
header ul li{
    text-align: center;
    font-size: medium;
    list-style: none;
    width: 10rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
header ul li:hover{
    background-color: lightblue;
    border-radius: 0.5px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cont{
    display: none;
    position: relative;
}
.cont1{
    display: none;
    position: relative;
}
.cont2{
    display: none;
    position: relative;
}
header ul li:hover .cont,header ul li:hover .cont1,header ul li:hover .cont2{
    display: block;
    position: absolute;
    margin-top: 1vh;
    margin-left: -0.8vw;
    background-color: darkgoldenrod;
    color: whitesmoke;
}
header ul li:hover .cont ul,header ul li:hover .cont1 ul,header ul li:hover .cont2 ul{
    display: block;
    margin-top: 1.3vh;
}
#Submit:hover{
    background-color: burlywood;
    font-size: 15px;
}
.end{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-top: 8px;
    padding-right: 20px;
}
input{
    height: 22px;
    width: 40%;
    border-radius: 18px;
    text-decoration: none;
    overflow: auto; 
    font-style: italic;
}